.record {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--main-color);

}

.details {
  display: contents;
}

.caloriesNumber {
  border: 3px solid var(--main-color);
  border-radius: 20px;
  padding: 5px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media (max-width: 800px) {
  .details {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .record {
    flex-direction: column;
  }
}
